
body{
  border: 3px solid bisque;
  background-color: #ba9fdb;
  text-align: center;
  /* font-style: italic; */
  color: rgb(7, 10, 1);
  font-size: larger;
}

img{
  width: 100%;
  /* padding: 10px; */
  opacity: 15%;
  margin: 5px;
  /* padding-bottom: 100px; */
  /* border: solid black; */
  position: fixed;
  top: 10px;
  left: 0;
}

nav{
  border: 3px solid beige;
  margin: 60px;
}

section{
  border: 3px solid bisque;
}

footer{
  border: 3px solid black;
  margin: 10px;
}

#toplist{
  background-origin: padding-box;
}

#topPart{
  background-image: src="Doom Mask.jpg";
  margin: 10px;
}

#section2{
  margin: 10px;
}

#nav2{
  margin: 10px;
}

#resume{
  /* float: left; */
  text-align: center;
  padding: 10px;
  margin: 50px 250px 50px 250px;
}